<div id="<%= dom_id item %>" >
  <h5 class="card-title"><strong><%= item.name.capitalize %></strong></h5>
  <%= image_tag item.image_url, height: 300, class:"card-img-top" %>
  <p class="card-text">
    <strong>Description:</strong>
    <%= item.description %>
    <br>
    <strong>Price:</strong>
    <%= item.price %> €
  </p>
  <div class="container-row">
    <%= link_to "Show this item", item, class:"btn btn-primary" %>
    <%= button_to "Add to cart", item, class:"btn btn-primary", method: :patch %>
  </div>
</div>
