<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
  <%= button_to  "Add to cart", cart_items_path(item:@item),class: "btn btn-outline-dark flex-shrink-0"%>
</div>
