<!DOCTYPE html>
<html>
  <head>
    <title>Fluffyshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap', 'https://bootswatch.com/5/minty/bootstrap.css' %>
    <%= javascript_importmap_tags %>
  </head>

<style>
.my-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

  <body>
  <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
