<!DOCTYPE html>
<html>
  <head>
    <title>Fluffyshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap', 'https://bootswatch.com/5/minty/bootstrap.css' %>
    <%= javascript_importmap_tags %>
  </head>

<style>
.navbar {
  padding: 10px;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80");
  background-size: cover;
  background-position: center;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.my-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>

  <body>
  <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
